body {
    margin: 0;
    font-family: 'Roboto', 'Courier New', Courier, monospace;
}

/* App wrapper container */

.app-wrapper{
    display: flex;
    min-height: 100%;
    flex-direction: column;
}

#menu-section {
    flex: 1;
}

#cart-section {
    border-top: 2px solid #D2D2D2;
    padding: 20px;
}

#cart-section:empty {
    border-top: none;
}

.shopping-cart {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* container */

.container{
    margin: auto;
    width: 600px;
    height: 1000px;
    background: #F2EBEB;
}

/* header*/

.banner{
    display: flex;
    justify-content: center;
    margin: auto;
    width: 600px;
    height: 167px;
    overflow: hidden;  
    gap: 10px
}

.banner-image{
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.text-container{
    position: absolute;
    display: flex;
    justify-content: center;
    gap: 0;
    flex-direction: column;
}

.banner-title{
    color: white;
    font-size: 40px;
    font-weight: bold;
    text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.5);
}

.banner-description{
    text-align: center;
    color: white;
    font-size: 15px;
    text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.5);
}

/* card */

.emoji-img{
    font-size: 50px;
}

.menu-item{
    display: flex;
    justify-content: start;
    align-items: center;
    margin: auto;
    padding: 40px;
    gap: 30px;
    border-bottom: 1px solid #D2D2D2;
}

.add-button {
    margin-left: auto;
}

/* Fonts and typography */

h1{
    font-family: 'Ultra', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 400;
    margin-bottom: 15px;
}

h3{
    margin: 10px 0;
}

p{
    margin: 0;
    padding: 10px 0px;
    font-size: 10px;
    color: #8B8B8B;
}

.price{
    font-size: 15px;
    color: black;
    font-weight: 600;
    margin-top: 10px;
}

.add-button, .pay-btn, .modal-close-btn, .order-btn:hover{
    cursor: pointer;
}

/* utility */

.hidden{
    display: none;
}

.show{
    display: block;
}

/* shopping cart button */

.order-btn{
    display: flex;
    margin: auto;
    margin-bottom: 40px;
    justify-content: center;
    background-color: #ffd43b;
    color: antiquewhite;
    border: 1px solid #ffc13b;
    border-radius: 50px;
    padding: 10px 15px;
    font-weight: 700;
}

/* modal */

.modal {
    display: none;
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0;
    background-color: rgba(0,0,0,0.5);
    justify-content: center;
    align-items: center;
}

.modal-inner {
    display: flex;
    margin: auto;
    justify-content: center;
    width: 450px;
    height: 400px;
    text-align: center;
    flex-direction: column;
    background: white;
    padding: 10px;
    border-radius: 8px;
}

.modal-inner-header{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.modal-close-btn{
    width: 30px;
    height: 30px;
    justify-content: flex-start;
    font-size: 15px;
    border: none;
    background: none;
}

#card-details-form{
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: center;
    gap: 10px;
}

input{
    padding: 10px;
    width: 400px;
}

.pay-btn{
    display: flex;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 0px;
    width: 100%;
    justify-content: center;
    background-color: #ffd43b;
    color: antiquewhite;
    border: 1px solid #ffc13b;
    border-radius: 50px;
    padding: 10px 15px;
    font-weight: 700;
}

/* Thanks container */

.thanks-container{
    display: flex;
    justify-content: center;
    align-items: center;   
    text-align: center;
    height: 100%;          
    padding: 40px;;
}

.thank-message{
    background: #ECFDF5;
    padding: 20px;
    color: #065F46;
    font-weight: 400;
}